.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; }
.datagrid table thead th:first-child { border: none; }
.datagridH table td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; white-space: nowrap}
.datagridH table .alt td { background: #E1EEF4; color: #00496B; }
.datagridH table .missing div { background: #998888; color: #ffff00}
.datagridH table .toohigh div { background: #ff8899; color: #00496B; font-weight: bold}
.datagridH table .toolow div { background: #99bbbb; color: #00496B; font-weight: bold}
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagridH table { border-collapse: collapse; text-align: left; width: 50%;}
.datagridH table thead td {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; border-bottom: 1px solid #E1EEF4;}
.header {color: navy; font-size: 15px; font-weight: bold;}
.datagridH table .dxf_row td {color: #00aaaa;font-style:italic}
.datagridH table .nk_row td {color: #aaaa00}
.datagridH table .dim_row td {color: #999999;font-style:italic}
textarea
{
  font-family:"Courier New", Courier;
  white-space: nowrap;
}
select
{
  font-size:11px;
}
